<ion-view view-title="Friend">
  <ion-content class="padding has-header has-search-bar">
      <!-- User friends' requests list -->
      <div ng-if="friendsRequest.length > 0" class="animate-if">
        <h2>They want to add you as a friend :</h2>
        <ion-list>
          <ion-item ng-repeat="f_req in friendsRequest" class="item item-icon-right">
            <h3>
              <ion-icon class="icon ion-person-add balanced"></ion-icon>
              {{f_req.username}}
            </h3>
            <ion-option-button ng-click="acceptRequest(f_req.username)" class="button-balanced">
              Acccept
            </ion-option-button>
            <ion-option-button ng-click="declineRequest(f_req.username)" class="button-assertive">
              Decline
            </ion-option-button>
          </ion-item>
        </ion-list>
      </div>

      <!-- User friends' list -->
      <div>
        <h2>My friends : <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button></h2>

        <!-- Search Bar to add new friends -->
        <div>
          <div ng-submit="addRequest()" class="">
            <div class="item-input-wrapper ">
              <span class="input-label">Username : </span>
              <input type="text" name="friendName" ng-model="futureFriend.username" placeholder="Add a friend" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">
              <button ng-click="addRequest()" class="button button-clear input-button button-positive">Add</button>
            </div>
          </div>
        </div>

        <!-- Recherche de thibaud -->
        <div class="search-bar bar bar-header item-input-inset">
          <div class="item-input-wrapper">
            <form ng-submit="addRequest()">
              <input type="text" name="friendName" ng-model="futureFriend.username" placeholder="Add a friend">
            </form>
          </div>
          <div ng-if="angular.isDefined(futureFriend.requestSend)" class="anime-if">
            Request successfully send to {{futureFriend.requestSend}}.
          </div>
          <div ng-if="futureFriend.requestSend" class="anime-if">
            Request coud not be send to {{futureFriend.username}}.
          </div>
        </div>

        <!--

          <ion-item ng-repeat="f_req in friendsRequest" class="item item-icon-right">
            <h3>
              <ion-icon class="icon ion-person-add balanced"></ion-icon>
              {{f_req.username}}
            </h3>
            <ion-option-button ng-click="acceptRequest(f_req)" class="button-balanced">
              Acccept
            </ion-option-button>
            <ion-option-button ng-click="declineRequest(f_req)" class="button-assertive">
              Decline
            </ion-option-button>
        -->
        <ion-list>
            <ion-item ng-repeat="f in friends" class="item item-icon-right">
              <h3>
                <ion-icon class="icon ion-trash-a assertive"></ion-icon>
                {{f.username}}
              </h3>
              <ion-option-button ng-click="deleteFriend(f.username)" class="button-assertive">
                  Confirm
              </ion-option-button>
            </ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-view>
