<ion-view view-title="Map">
  <ion-content class="padding has-header has-search-bar">
    <div id="map" ng-show="map_available" data-tap-disabled="true"></div>
    <h2 class="title" ng-show="map_available" >List of Friends in this area</h2>
    <p><ion-search-bar placeholder="Seach Friends"></ion-search-bar></p>

    <div ng-if = "position">
      <div class = "item range range-positive">
        30<input id="selector_range" type= "range" min="30" max="2001" ng-model='filtre_rayon' name = "rayon" ng-change="change(filtre_rayon)">
        <i class="icon ion-ios-infinite"></i>
      </div>
      <h5><div class="text-center">{{filtre_rayon <= 2000 ? filtre_rayon + ' m' : 'infinite'}}</div></h5>
      <br>
      <div class="text-center">
        <table class="list_friend">
          <thead>
          <td>Nom</td>
          <td>Distance</td>
          </thead>
          <tbody>
          <tr ng-repeat="friend in list_friend | orderBy : 'distance' | filter : search.value"
              ng-class="{oddRow: $odd}" ng-If="friend.distance < filtre_rayon || filtre_rayon > 2000">
            <td><button class="button button-positive button-outline" ng-click = "centre_marquer(friend.info_bulle,friend.marker)">{{friend.name}}</button></td>
            <td style="vertical-align: middle;">{{friend.distance > 1000 ? (friend.distance/1000 | number:0) + ' km' : friend.distance}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-content>
</ion-view>

